{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">

  <title>La caverne</title>

</head>

<body>

    <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'my_account' %}">Mon compte</a>
        <a class="btn btn-primary" href="{% url 'logout' %}">Se déconnecter</a>
      {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}">Se connecter</a>
        <a class="btn btn-primary" href="{% url 'signup' %}">Créer un compte</a>
      {% endif %}
    </div>
  </nav>

    <!-- Masthead -->

  <section class="masthead2 text-white ">
    <div class="container">
        {% block welcome %}{% endblock %}
    </div>
  </section>

</body>

</html>
